<!-- <div class="container-fluid bg-dark" style="padding:20px">
    <div class="container text-center">
        <img src="img/plastico_logo_new-02.png" style="width:150px">
        <br>
        <h6 style="color:white">Plastico 2020 | Design by <span style="color:#32dbc6 ">khyde</span></h6>
    </div>
</div> -->