<head>
    <title>Article | Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- Content  -->
    <div class="main">
        <div class="row">
            <div class="container" style="padding-bottom:30px">
                <h3>Article</h3>
            </div>

            <!-- Card -->
            <div class="row" style="padding-bottom: 30px;">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="card col-lg-12 col-md-12">
                            <table id="dataArticle">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Published Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add article button  -->
            <div class="container">
                <b><a href="add_article" class="button ">Add New Article</a></b>
            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>

    <script src="js/article.js"></script>