<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard Plastico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="chart.css" />
    <link href="https://fonts.googleapis.com/css?family=OpenSans" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="/static/style.css" />
    <link rel="StyleSheet" href="/css/notify.css" type="text/css" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="js/firebase_config.js"></script>
    <script src="js/login_checker.js"></script>
</head>

<body class="bg-1">
    <!--loading-->
    <div class="loading">Loading&#8230;</div>

    <!-- TOP-NAVBAR -->
    <div class="top-navbar">
        <div class="topnav-container">
            <a class="logout" onClick="logout()" href="javascript:void(0)" style="font-weight: bold; float: right;">Logout</a>
        </div>
    </div>

    <!-- SIDE NAVIGATION BAR -->
    <div class="sidenav">
        <div class="container sidenav-container">
            <!-- P Logo  -->
            <img class="logo" src="img/plastico_p-02.png">
            <hr class="light">

            <!-- SIDENAVBAR MENU -->
            <a href="dashboard">
                <i class="fa fa-home" aria-hidden="true" style="padding-right: 10px;"></i>Dashboard
            </a>
            <a class="active" href="bin">
                <i class="fa fa-trash" aria-hidden="true" style="padding-right: 10px;"></i>Bin</a>
            <a href="user">
                <i class="fa fa-users" aria-hidden="true" style="padding-right: 10px;"></i>User</a>
            <a href="article">
                <i class="fa fa-newspaper-o" aria-hidden="true" style="padding-right: 10px;"></i>Article</a>
            <a href="goals">
                <i class="fa fa-trophy" aria-hidden="true" style="padding-right: 10px;"></i>Goals</a>
            <a href="rewards">
                <i class="fa fa-money" aria-hidden="true" style="padding-right: 10px;"></i>Reward</a>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Assign New Bin</h3>
            </div>
        </div>

        <div class="row" style="padding-bottom: 30px">
            <div class="card">
                <div class="container" style="text-align: left">
                    <form action="javascript:void(0)">
                        <label for="name-bin"><b>Bin Name</b></label>
                        <input type="text" id="binName" name="name" placeholder="Enter new Plastico Bin name.." required>

                        <label style="padding-top:20px" for="longitude"><b>Longitude (E / -W)</b></label>
                        <input type="text" id="binLongitude" name="longitude" placeholder="Enter new Plastico Bin longitude location.." required>

                        <label style="padding-top:20px" for="latitude"><b>Latitude (N / -S)</b></label>
                        <input type="text" id="binLatitude" name="latitude" placeholder="Enter new Plastico Bin latitude location.." required>

                        <label style="padding-top:40px" for="submit"></label>
                        <input type="submit" id="Submit" name="Submit" value="Submit">

                    </form>
                </div>
                <!-- <canvas id="qrCode"></canvas> -->
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="/js/notify.js"></script>
<script src="js/qrcode.min.js"></script>
<script src="js/assign_bin.js"></script>