<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard Plastico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="chart.css" />
    <link href="https://fonts.googleapis.com/css?family=OpenSans" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="js/firebase_config.js"></script>
    <script src="js/login_checker.js"></script>
</head>

<body class="bg-1">
    <!--loading-->
    <div class="loading">Loading&#8230;</div>

    <!-- TOP-NAVBAR -->
    <div class="top-navbar">
        <div class="topnav-container">
            <a class="logout" onClick="logout()" href="javascript:void(0)" style="font-weight: bold; float: right;">Logout</a>
        </div>
    </div>

    <!-- SIDE NAVIGATION BAR -->
    <div class="sidenav">
        <div class="container sidenav-container">
            <!-- P Logo  -->
            <img class="logo" src="img/plastico_p-02.png">
            <hr class="light">

            <!-- SIDENAVBAR MENU -->
            <a href="dashboard">
                <i class="fa fa-home" aria-hidden="true" style="padding-right: 10px;"></i>Dashboard
            </a>
            <a class="active" href="bin">
                <i class="fa fa-trash" aria-hidden="true" style="padding-right: 10px;"></i>Bin</a>
            <a href="user">
                <i class="fa fa-users" aria-hidden="true" style="padding-right: 10px;"></i>User</a>
            <a href="article">
                <i class="fa fa-newspaper-o" aria-hidden="true" style="padding-right: 10px;"></i>Article</a>
            <a href="goals">
                <i class="fa fa-trophy" aria-hidden="true" style="padding-right: 10px;"></i>Goals</a>
            <a href="rewards">
                <i class="fa fa-money" aria-hidden="true" style="padding-right: 10px;"></i>Reward</a>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Maps</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-10">
                <div class="card" style="margin-bottom: 30px;">
                    <h5>Plastico Bin Location</h5>
                    <p>Here are the locations of each active Plastico Bin. Take a look to the maps below!</p>

                    <div id="map" style="width:100%;height:400px;"></div>
                </div>

                <!-- ASSIGN NEW BIN -->
                <b><a href="assign-bin" class="button " style="margin-bottom: 30px;">Assign New Bin</a></b>

            </div>
        </div>

        <!-- LIST OF BIN  -->
        <div class="row" style="padding-bottom:30px">
            <div class="col-12">
                <div class="card">
                    <h5>List of Bin</h5>
                    <p style="padding-bottom:10px">Here are the list of all Plastico smart-bin with the brief information about them.</p>
                    <table id="dataBin">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="js/maps.js"></script>
    <script src="js/binperf.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGxmlhtwYl-7j1CErkaPu2Gl62r4jngk0&callback=myMap"></script>

</body>