<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bin | Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Maps</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-10">
                <div class="card" style="margin-bottom: 30px;">
                    <h5>Plastico Bin Location</h5>
                    <p>Here are the locations of each active Plastico Bin. Take a look to the maps below!</p>

                    <div id="map" style="width:100%;height:400px;"></div>
                </div>

                <!-- ASSIGN NEW BIN -->
                <b><a href="assign_bin" class="button " style="margin-bottom: 30px;">Assign New Bin</a></b>

            </div>
        </div>

        <!-- LIST OF BIN  -->
        <div class="row" style="padding-bottom:30px">
            <div class="col-12">
                <div class="card">
                    <h5>List of Bin</h5>
                    <p style="padding-bottom:10px">Here are the list of all Plastico smart-bin with the brief information about them.</p>
                    <table id="dataBin">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>

    <script src="js/maps.js"></script>
    <script src="js/binperf.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGxmlhtwYl-7j1CErkaPu2Gl62r4jngk0&callback=myMap"></script>