<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard Plastico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="chart.css" />
    <link href="https://fonts.googleapis.com/css?family=OpenSans" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="js/firebase_config.js"></script>
    <script src="js/login_checker.js"></script>

    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <script src="https://use.fontawesome.com/4e72654078.js"></script> -->
</head>

<body class="bg-1">
    <!--loading-->
    <div class="loading">Loading&#8230;</div>

    <!-- TOP-NAVBAR -->
    <div class="top-navbar">
        <div class="topnav-container">
            <a class="logout" onClick="logout()" href="javascript:void(0)" style="font-weight: bold; float: right;">Logout</a>
        </div>
    </div>

    <!-- SIDE NAVIGATION BAR -->
    <div class="sidenav">
        <div class="container sidenav-container">
            <!-- P Logo  -->
            <img class="logo" src="img/plastico_p-02.png">
            <hr class="light">

            <!-- SIDENAVBAR MENU -->
            <a class="active" href="dashboard">
                <i class="fa fa-home" aria-hidden="true" style="padding-right: 5px;"></i>Dashboard
            </a>
            <a href="bin">
                <i class="fa fa-trash" aria-hidden="true" style="padding-right: 5px;"></i>Bin</a>
            <a href="user">
                <i class="fa fa-users" aria-hidden="true" style="padding-right: 5px;"></i>User</a>
            <a href="article">
                <i class="fa fa-newspaper-o" aria-hidden="true" style="padding-right: 5px;"></i>Article</a>
            <a href="goals">
                <i class="fa fa-trophy" aria-hidden="true" style="padding-right: 5px;"></i>Goals</a>
            <a href="rewards">
                <i class="fa fa-money" aria-hidden="true" style="padding-right: 5px;"></i>Reward</a>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Dashboard</h3>
            </div>
        </div>

        <div class="row" style="padding-bottom: 30px;">
            <!-- ACTIVE USERS -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/user.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Total Active Users</h6>
                            <h1 id="totalUser"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOTAL BIN -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/trash.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Total Active Bin</h6>
                            <h1 id="totalBin"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ALMOST-FULL BIN -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/danger.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Almost-Full Bin</h6>
                            <h1 id="almostFullBin"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOTAL WEIGHT  -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/scale.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Daily Total Weight</h6>
                            <h1 id="totalWeight"></h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- BIN ACTIVITY GRAPH -->
        <div class="row">
            <div class="col-lg-12 col-md-8">
                <div class="card">
                    <h5>Bin Activity Graph</h5>
                    <p>This graph will show the total activity of Plastico bin on monthly base.</p>
                    <div class="chart">
                        <canvas id="binperfChart" width="100%"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEW USER ACTIVITY GRAPH  -->
        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-12 col-md-8">
                <div class="card">
                    <h5>Users Activity Graph</h5>
                    <p>This graph will show the total users's activity to Plastico smart-bin on monthly base.</p>
                    <div class="chart">
                        <canvas id="userperfChart" width="100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="js/dashboard-query.js"></script>
<script src="js/bin-graph.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>