<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Dashboard</h3>
            </div>
        </div>

        <div class="row" style="padding-bottom: 30px;">
            <!-- ACTIVE USERS -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/user.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Total Active Users</h6>
                            <h1 id="totalUser"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOTAL BIN -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/trash.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Total Active Bin</h6>
                            <h1 id="totalBin"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ALMOST-FULL BIN -->
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/danger.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Almost-Full Bin</h6>
                            <h1 id="almostFullBin">1</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOTAL WEIGHT 
            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/scale.svg" width="150%">
                        </div>
                        <div class="col-sm-8">
                            <h6>Daily Total Weight</h6>
                            <h1 id="totalWeight">12 kg</h1>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- BIN ACTIVITY GRAPH -->
        <div class="row">
            <div class="col-lg-12 col-md-8">
                <div class="card">
                    <h5>Bin Activity Graph</h5>
                    <p>This graph will show the total activity of Plastico bin on monthly base.</p>

                    <div class="form-group" style="text-align: center;">
                        <label for="selectYear">Select Year :</label>
                        <select class="form-control" id="selectYear" style="width: 100px;">
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                        </select>
                    </div>

                    <div class="chart">
                        <canvas id="barChart" width="100%"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- USER ACTIVITY GRAPH  -->
        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-12 col-md-8">
                <div class="card">
                    <h5>Users Activity Graph</h5>
                    <p>This graph will show the total users's activity to Plastico smart-bin on monthly base.</p>

                    <div class="form-group" style="text-align: center;">
                        <label id="year" for="selYear">Select Year :</label>
                        <select class="form-control" id="selYear" style="width: 100px;">
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                        </select>
                    </div>

                    <div class="chart">
                        <canvas id="lineChart" width="100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>

    <script src="js/dashboard-query.js"></script>
    <script src="js/user-graph.js"></script>
    <script src="js/bin-graph.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>