<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Goals | Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- CONTENT  -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Goals</h3>
            </div>
        </div>

        <!-- Add Goals Button  -->
        <div class="container">
            <b><a href="add_goals" class="button ">Add New Goals</a></b>
        </div>

        <!-- Goals List -->
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-lg-12">
                <div class="card col-lg-12 col-md-12">
                    <table id="dataGoals">
                        <thead>
                            <tr>
                                <th>Goals Name</th>
                                <th>Expire Period</th>
                                <th>Target</th>
                                <th>Extra Point</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>

    <script src="js/goals.js"></script>

</html>