<head>
    <title>Notification | Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <%- include('partials/header.ejs') %>

        <!-- CONTENT -->
        <div class="main">
            <!-- NOTIFICATION SETTING  -->
            <div class="row">
                <div class="container" style="padding-bottom:30px">
                    <h3>Notification Setting</h3>
                </div>
            </div>

            <div class="row" style="padding-bottom:30px">
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <h5>Email Notification</h5>
                        <p style="font-size: 15px; color: rgb(114, 114, 114);">Set the time of when to send email notification to user of for being inactive.</p>
                        <form class="form-inline" action="javascript:void(0)">
                            <label><b>Email Sent in (days):</b></label>
                            <input type="number" id="email_time" name="email_time" placeholder="set time in days">
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <h5>User inactivity</h5>
                        <p style="font-size: 15px; color: rgb(114, 114, 114);">Set the range of user's inactivity time to trigger sending email notification.</p>
                        <form class="form-inline" action="javascript:void(0)">
                            <label><b>Inactivity Threshold (days)):</b></label>
                            <input type="number" id="email_time" name="email_time" placeholder="set time in days">
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <h5>Bin inactivity</h5>
                        <p style="font-size: 15px; color: rgb(114, 114, 114);">Set the range of bin's inactivity time to trigger sending notification to admin.</p>
                        <form class="form-inline" action="javascript:void(0)">
                            <label><b>Inactivity Threshold (days)):</b></label>
                            <input type="number" id="email_time" name="email_time" placeholder="set time in days">
                        </form>
                    </div>
                </div>
            </div>

            <!-- NOTIFICATION LOG -->
            <div class="row">
                <div class="container" style="padding-bottom:30px">
                    <h3>Notification Log</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-8">
                    <div class="card"></div>
                </div>
            </div>


        </div>
</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>