<head>
    <title>Register | Welcome to Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body style="padding-top: 30px; background-color: rgb(41, 146, 182);">
    <!--loading-->
    <div class="loading">Loading&#8230;</div>

    <div class="container">
        <h1 style="color:white;text-align:center"><b>Welcome!</b></h1>
        <h5 style="color:white;text-align:center; padding-bottom:30px">Register new admin account here.</h5>

        <center>
            <div class="card-1" style="width: 50%;">
                <div class="container" style="text-align: left;">
                    <div>
                        <img src="/img/plastico_logo_new-02.png" style="width: 30%;">
                        <hr>
                    </div>
                    <form action="javascript:void(0)">
                        <label for="email"><b>Email Address</b></label>
                        <input type="email" id="email_field" name="emailaddress" placeholder="Enter your email address.." required>

                        <label for="password" style="padding-top:30px"><b>Password</b></label>
                        <input type="password" id="password_field" name="Password" placeholder="Enter your password.." required>

                        <!-- <label for="token" style="padding-top:30px"><b>Token</b></label>
                        <input type="text" id="token_field" name="Token" placeholder="Enter token number.." required> -->

                        <div class="container" style="padding-top:30px">
                            <center><input type="submit" value="Register" onClick="register()" style="padding-top: 15px; text-align: center; padding-bottom:15px;"></center>
                        </div>
                        <b><p style="text-align: right; color:grey">Already have account? <a href="/login">Login</a>.</p></b>
                    </form>

                </div>
            </div>
        </center>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script type="text/javascript" src="js/firebase_config.js"></script>
    <script src="js/index.js"></script>
</body>

</html>