<!DOCTYPE html>
<html>

<head>
    <title>User | Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container">
                <h3>User</h3>
            </div>
        </div>

        <!-- CARD -->
        <div class="row" style="padding-bottom:30px; position:center">

            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center; color: white; background-color: #3bb4c1;">
                    <h5>Total Users</h5>
                    <h1 id="allUser">
                    </h1>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center; color: white; background-color: #00909e;">
                    <h5>Total Active Users</h5>
                    <h1 id="totalUser">
                    </h1>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="card-sm" style="text-align:center; color: white; background-color: #21577a;">
                    <h5>Deactivated Users</h5>
                    <h1 id="deactUser">
                    </h1>
                </div>
            </div>
        </div>

        <!-- TOTAL USER ENGAGEMENT -->
        <div class="row" style="padding-bottom:30px">
            <div class="col-12">
                <div class="card">
                    <h5 style="padding-bottom:10px">List of Users</h5>
                    <table id="dataUser">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Current Point</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- USER ACTIVITY PERFORMANE -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 style="padding-bottom: 10px;">User Activity Performance</h5>
                    <p>This shows the monthly activity performance of users accessing Plastico service.</p>
                    <div class="chart">
                        <canvas id="userperfChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>

    <script src="js/user.js"></script>