<!DOCTYPE html>
<html>

<head>
    <title>User | Plastico</title>
    <%- include('partials/head.ejs') %>
</head>

<body class="bg-1">
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container">
                <h3>User Profile</h3>
            </div>
        </div>

        <div class="row" style="padding-bottom:30px">
            <div class="col-lg-12 col-md-8">
                <div class="card">
                    <div class="row">

                        <div class="col-4" style="text-align: center;">
                            <div class="avatar" id="avatar"></div>
                        </div>

                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-3" style="text-align: right; padding-top: 30px;">
                                    <h6><b>Full Name</b></h6>
                                    <h6><b>Username</b></h6>
                                    <h6><b>Email</b></h6>
                                    <h6><b>Current Point</b></h6>
                                </div>
                                <div id="profileUser" class="col-md-8" style="padding-top: 30px;">
                                    <h6 class="fname" id="fname"></h6>
                                    <h6 class="uname" id="uname"></h6>
                                    <h6 class="email" id="email"></h6>
                                    <h6 class="point" id="point"></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Profile Information -->
                    <div class="row" style="padding-top:40px">
                        <p>*Admin can deactivate user account if there is a violation towards Plastico Terms & Conditions</p>
                    </div>
                    <div class="row" style="align-items: center;">
                        <a id="deactButton" href="javascript:void(0)" class="button4" style="background-color:#f14e4e; display: none;">Deactivate Account</a>
                        <a id="reactButton" href="javascript:void(0)" class="button4" style="background-color:#84f14e; display: none;">Activate Account</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- User Transaction History -->
        <div class="row">
            <div class="col-lg-12 col-md-8">
                <div class="card">
                    <h4>User's Point Transaction History</h4>
                    <p>All the transaction of incoming points gained from the goal's extra point and the used point to redeem reward vouchers will be presented below.</p>

                    <div class="row">
                        <!-- Goals History -->
                        <div class="col-lg-6">
                            <h5 style="padding-bottom:10px; text-align: center;">Goals</h5>
                            <table id="gHistory">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>Date</th>
                                        <th>Goals Name</th>
                                        <th>Point</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <!-- Rewawrd History -->
                        <div class="col-lg-6">
                            <h5 style="padding-bottom:10px; text-align: center;">Rewards</h5>
                            <table id="rHistory">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>Date</th>
                                        <th>Rewards Name</th>
                                        <th>Point</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<%- include('partials/script.ejs') %>

    <script src="js/user_profile.js"></script>