<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Welcome to Plastico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=OpenSans" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="main.js"></script>

    <link rel="stylesheet" href="/static/style.css" />
</head>

<body class="bg-full">
    <div class="container">
        <h1 style="color:white;text-align:center"><b>Login. Welcome back!</b></h1>
        <h4 style="color:white;text-align:center; padding-bottom:30px">You need to login before accessing Plastico.</h4>

        <center>
            <div class="card" style="width: 70%">
                <div class="container" style="text-align: left">
                    <form action="/authlogin" method="POST">
                        <label for="email"><b>Email Address</b></label>
                        <input type="text" id="email" name="emailaddress" placeholder="Enter your email address..">

                        <label for="email" style="padding-top:30px"><b>Password</b></label>
                        <input type="password" id="pass" name="Password" placeholder="Enter your password..">

                        <div class="container" style="padding-top:30px">
                            <center><input type="submit" value="Login" style="padding-top: 15px; text-align: center; padding-bottom:15px;"></center>
                        </div>

                    </form>

                </div>
            </div>
        </center>
    </div>

</body>

</html>