<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard Plastico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="chart.css" />
    <link href="https://fonts.googleapis.com/css?family=OpenSans" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="/static/style.css" />
</head>

<body class="bg-1">
    <!-- SIDE NAVIGATION BAR -->
    <div class="sidenav">
        <!-- PROFILE -->
        <div class="container" style="text-align:center; padding-bottom:35px">
            <img src="img/avatar_1.png" alt="avatar" class="avatar" style="padding-bottom:30px">
            <h3 style="color:white">Alec Benjamin</h3>
            <p style="color:whitesmoke">Admin</p>
        </div>

        <!-- NAVBAR MENU -->
        <b><a href="dashboard.html">Dashboard</a>
        <a class="active" href="maps.html">Maps</a>
        <a href="performance.html">Performance</a>
        <a href="user.html">User</a></b>
    </div>

    <!-- CONTENT -->
    <div class="main">
        <div class="row">
            <div class="container" syle="padding-bottom:30px">
                <h3>Maps</h3>
            </div>
        </div>

        <div class="row" style="padding-bottom: 30px">
            <div class="card">
                <h5>Plastico Bin Location</h5>
                <p>Here are the locations of each active Plastico Bin. Take a look to the maps below!</p>

            </div>
        </div>
    </div>

</body>